<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    <table>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>address</th>
        </tr>
        {% for person in safa %}
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.address}}</td>
            <td>{{person.rollno}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>